<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
</head>

<body>
  <h1 style="color: green">Admin dashboard</h1>
  <p>Hello world</p>
  <div id="app">
    [[ message ]]
    <button-counter></button-counter>
  </div>
  <p> {{ token }} </p>
  <script src= {{url_for('static',filename='js/index.js')}}>
  </script> 
</body>

</html>

